<div class="container"> 
    <h2>Proveedores</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proveedor of proveedores">
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <button (click)="deleteProveedor(proveedor.codigo!)"  type="btn btn-primary btn-sm">Eliminar</button>
                <button (click)="modificarProveedor()" routerLink="/home/edit/{{proveedor.codigo}}" type="btn btn-secondary btn-sm" >Modificar</button>
            </tr>
        </tbody>
    </table>
    <button (click)="navegar()" type="button">Nuevo Proveedor</button>
    
</div>
