<div *ngIf="!loading" class="login">
    <div class="cont-image">
        <img class="logo" src="../../../assets/img/autorepuesto.png" alt="img autorepuesto">
    </div>
      <h3 class="mb-2">Login</h3>
          <input type="text" [(ngModel)]="username" autocomplete="false" class="form-control" placeholder="Ingrese usuario">
          <label>Usuario</label>
          <input type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Ingrese password">
          <label>Password</label>
          <button type="button" class="btn btn-primary btn-lg" (click)="login()">Aceptar</button>
      <app-spinner *ngIf = "loading"></app-spinner>
</div>
