<div class="menu">
    <ul>
      <li><a routerLink="./src/_Login.html" href="_Login.html">Inicio</a></li>
      <li><a routerLink="/productos">Vender</a></li>
      <li><a routerLink="/ventas">Facturas</a></li>
      <li><a routerLink="/productos">Productos</a></li>
      <li><a routerLink="/comprar">Comprar</a></li>
      <li><a routerLink="/proveedores">Proveedores</a></li>
      <li><a routerLink="/promociones">Promociones/descuentos</a></li>
      <li><a routerLink="/login">Cerrar Sesion</a></li>
      
    </ul>  
  </div>
  
