<div class="container">
  <form [formGroup]="AlmacenForm" (ngSubmit)="onAlmacen()" #loginFormDirective="ngForm">
  <div class="menu-container">
    <div class="menu">
      <h2 class="h2-menu"></h2>
      <ul class="ul-menu">
        <button class="btn btn-outline-success" (click)="home()" type="button">Inicio</button>
        <button class="btn btn-outline-success" (click)="vender()" type="button">Vender</button>
        <button class="btn btn-outline-success" (click)="producto()" type="button">Productos</button>
        <button class="btn btn-outline-success" (click)="proveedores()" type="button">Proveedores</button>
        <button class="btn btn-outline-success" (click)="almacen()" type="button">Almacenes</button>
        <button *ngIf="perm=='A'" class="btn btn-outline-success" (click)="registro()" type="button">Registrar Nuevo Usuario</button>
        <button class="btn btn-outline-success" (click)="cambiar_password()" type="button">Cambiar contraseña</button>
        <button *ngIf="perm=='A'" class="btn btn-outline-success" (click)="bitacora()" type="button">Bitacora</button>
        <button class="btn btn-outline-success"(click)="logOut()" type="button">Cerrar Sesion</button>
      </ul>
    </div>
  </div>
  </form>
</div>