<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
}

.logo {
    /*height: 50px;*/
    width: 80%; /* Reducción del ancho del logo */
    max-width: 200px; /* Limitación del ancho máximo del logo */
    margin-bottom: 10px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

=======
>>>>>>> 0ca87c07bde26b6f433f5fcd2dba2752444eec15
