<div class="container">

  <h1>Gestión de Almacenes</h1>
  
  <div class="almacenes">
    <h2>Almacenes Registrados</h2>
    <table id="almacenes-table" class="almacenes-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Ciudad</th>
          <th>Capacidad Actual</th>
          <th>Capacidad Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí se mostrarán los almacenes registrados -->
        <tr *ngFor="let almacen of almacenes">
          <td>{{ almacen.nombre }}</td>
          <td>{{ almacen.direccion }}</td>
          <td>{{ almacen.ciudad }}</td>
          <td>{{ almacen.capacidad_actual }}</td>
          <td>{{ almacen.capacidad_total }}</td>
          <td>
            <button routerLink="/home/editAlma/{{almacen.id}}" class="btn btn-primary btn-sm" >Editar</button>
            <button (click)="deleteAlamcen(almacen.id!)" class="btn-delete">Eliminar</button>
          </td>
        </tr>
        <button class="btn-submit" routerLink="/home/addAlma">Agregar Almacen</button>
      </tbody>
    </table>
  </div>
  
  <div class="separator"></div>

  
</div>

